<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic/in-home.html}">
<head>
    <meta charset="UTF-8">
    <title>자재ON - 생산 > 품목 등록</title>
    <link rel="stylesheet" th:href="@{/css/component/file-box.css}">
</head>
<body>

<th:block layout:fragment="product-pbom">
    <div class="container py-5">
        <h2 class="mb-4">품목 등록</h2>
        <div class="card p-4 mb-5">
            <form id="type-filter" class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="i-filter" id="filter-mat-i" checked>
                    <label class="form-check-label" for="filter-mat-i">자재</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="i-filter" id="filter-prd-i">
                    <label class="form-check-label" for="filter-prd-i">상품</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="i-filter" id="filter-mbom-i">
                    <label class="form-check-label" for="filter-mbom-i">MBOM</label>
                </div>
            </form>

            <form id="item-input" class="row g-3">
                <div class="col-md-4">
                    <label for="mat-code" class="form-label">자재 코드</label>
                    <input type="text" class="form-control" id="mat-code">
                </div>
                <div class="col-md-4">
                    <label for="mat-select" class="form-label">선택</label>
                    <input type="text" class="form-control" id="mat-select">
                </div>
                <div class="col-md-4">
                    <label for="mat-name" class="form-label">자재 명칭</label>
                    <input type="text" class="form-control" id="mat-name">
                </div>
                <div class="col-md-4">
                    <label for="mat-type" class="form-label">종별</label>
                    <input type="text" class="form-control" id="mat-type">
                </div>
                <div class="col-md-4">
                    <label for="mat-measure" class="form-label">규격</label>
                    <input type="text" class="form-control" id="mat-measure">
                </div>
                <div class="col-md-4">
                    <label for="mat-unit" class="form-label">단위</label>
                    <input type="text" class="form-control" id="mat-unit">
                </div>
                <div class="col-12">
                    <label for="mat-info" class="form-label">설명</label>
                    <input type="text" class="form-control" id="mat-info">
                </div>
                <div class="col-12 text-end mt-4">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-plus"></i> 등록</button>
                </div>
            </form>
        </div>

        <h2 class="mb-4">품목 등록 정보</h2>
        <div class="card p-4">
            <form id="view-filter" class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="v-filter" id="filter-pbom-v" checked>
                    <label class="form-check-label" for="filter-pbom-v">자재</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="v-filter" id="filter-mat-v">
                    <label class="form-check-label" for="filter-mat-v">상품</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="v-filter" id="filter-prd-v">
                    <label class="form-check-label" for="filter-prd-v">MBOM</label>
                </div>
            </form>

            <table class="table table-bordered table-hover data-table text-center">
                <thead class="table-light">
                <tr>
                    <th scope="col" th:each="head: ${materialTH}">[[${head.getLabel()}]]</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>PM001A01</td>
                    <td>가이던스 FV 그립 핸들</td>
                    <td>조립품</td>
                    <td>80×20×3</td>
                    <td>cm</td>
                    <td>1</td>
                    <td>전기자전거A</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script th:src="@{/js/util/file-preview.js}"></script>
    <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
    <script th:src="@{/js/page/operation/excelParser.js}"></script>
</th:block>

</body>
</html>