<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic/in-home.html}">
<head>
    <meta charset="UTF-8">
    <title>자재ON - 생산 > 품목 등록</title>
    <link rel="stylesheet" th:href="@{/css/component/file-box.css}">
    <link rel="stylesheet" th:href="@{/css/page/operation/pbom.css}">
</head>
<body>

<th:block layout:fragment="product-pbom">
    <div class="tutorial" id="tutorial-box">튜토리얼 메시지</div>
    <div class="container py-5 pb-0">
        <h2 class="mb-4" id="upload-test">품목 관리</h2>
        <div class="row g-4 mb-3">
            <form id="manage-mod" class="mb-3">
                <div class="form-check form-check-inline position-relative ps-0 me-1" id="manage-insert">
                    <input class="form-check-input opacity-0 position-absolute pe-none" type="radio" name="i-filter" id="mod-insert" checked>
                    <label class="form-check-label btn btn-primary pe-none" for="mod-insert" id="insert-label">등록</label>
                </div>
                <div class="form-check form-check-inline position-relative ps-0 me-1" id="manage-edit">
                    <input class="form-check-input opacity-0 position-absolute pe-none" type="radio" name="i-filter" id="mod-edit">
                    <label class="form-check-label btn btn-outline-secondary" for="mod-edit" id="edit-label">수정</label>
                </div>
                <div class="form-check form-check-inline position-relative ps-0 me-1" id="manage-view">
                    <input class="form-check-input opacity-0 position-absolute pe-none" type="radio" name="i-filter" id="mod-view">
                    <label class="form-check-label btn btn-outline-secondary" for="mod-view" id="view-label">목록</label>
                </div>
            </form>
        </div>
        <div class="card p-4" id="table-card">
            <form id="view-filter" class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="v-filter" id="filter-mat-v" checked>
                    <label class="form-check-label" for="filter-mat-v">자재</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="v-filter" id="filter-prd-v">
                    <label class="form-check-label" for="filter-prd-v">상품</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="v-filter" id="filter-pbom-v">
                    <label class="form-check-label" for="filter-pbom-v">PBOM</label>
                </div>
            </form>

            <div id="tables-input">
                <table class="table table-bordered table-hover data-table text-center table-excel" id="mat-table">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${materialTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="" th:each="i: ${#numbers.sequence(0, materialTH.length - 1)}">
                            <span contenteditable="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover data-table text-center table-excel" id="prd-table">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${productTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="" th:each="i: ${#numbers.sequence(0, productTH.length - 1)}">
                            <span contenteditable="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover data-table text-center table-excel" id="pbom-table">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${pbomTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:each="i: ${#numbers.sequence(0, pbomTH.length - 1)}">
                            <span contenteditable="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="tables-view">
                <table class="table table-bordered table-hover data-table text-center table-excel" id="mat-table-view">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${materialTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="" th:each="i: ${#numbers.sequence(0, materialTH.length - 1)}">
                            <span contenteditable="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover data-table text-center table-excel" id="prd-table-view">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${productTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="" th:each="i: ${#numbers.sequence(0, productTH.length - 1)}">
                            <span contenteditable="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover data-table text-center table-excel" id="pbom-table-view">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${pbomTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:each="i: ${#numbers.sequence(0, pbomTH.length - 1)}">
                            <span contenteditable="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="tables-edit">
                <table class="table table-bordered table-hover data-table text-center table-excel" id="mat-table-edit">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${materialTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="" th:each="i: ${#numbers.sequence(0, materialTH.length - 1)}">
                            <span contenteditable="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover data-table text-center table-excel" id="prd-table-edit">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${productTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="" th:each="i: ${#numbers.sequence(0, productTH.length - 1)}">
                            <span contenteditable="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover data-table text-center table-excel" id="pbom-table-edit">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${pbomTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:each="i: ${#numbers.sequence(0, pbomTH.length - 1)}">
                            <span contenteditable="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:src="@{/js/util/file-preview.js}"></script>
    <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
    <script th:src="@{/js/page/operation/pbomMain.js}" type="module"></script>
</th:block>

</body>
</html>