/* 파일 업로드 버튼 관련 css start */
.file-upload-area {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.file-upload-area input[type="file"] {
    display: none;
}

.file-box-label {
    padding: 0.375rem 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.375rem;
    cursor: pointer;
}

.file-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.file-item {
    padding: 0.375rem 0.75rem;
    background-color: #f8f9fa;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.file-item i {
    color: #6c757d;
}
/* 파일 업로드 버튼 관련 css end */