/* 프로필 css start */
.profile-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 35px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccd0d6 !important;
    /* 동그랗게 */
    font-size: 20px;
    /* 아이콘 크기 */
    /*background-color: #EFB036 !important;*/
    /* 배경색 (light) */
    color: #fff !important;
    /* 텍스트/아이콘 색상 */
}

.admin-profile {
    background-color: #EEEDEB !important;
    color: #747264 !important;
}

.production-profile {
    background-color: #3B6790 !important;
}

.purchasing-profile {
    background-color: #EFB036 !important;
}

.partner-profile {
    background-color: #4C7B8B !important;
}

/* 구매 EFB036 생산 3B6790 협력업체 4C7B8B */