
.floating-sidebar-wrapper {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1050;
    display: flex;
}

.floating-sidebar-panel {
    background-color: #394867;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 180px;
    padding: 10px;
    transition: margin-right 0.3s ease-in-out;
}

.floating-sidebar-panel.collapsed {
    margin-right: -150px;
}

.floating-sidebar-panel .btn {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 10px;
    border: none;
    background-color: #394867;
    color: white;
    font-size: 16px;
    text-align: left;
    transition: background-color 0.2s;
}

.floating-sidebar-panel .btn i {
    margin-right: 8px;
    font-size: 20px;
}

.floating-sidebar-panel .btn:hover {
    background-color: #F1F6F9;
    color: #394867;
}

.sidebar-toggle-btn {
    align-self: center;
    margin-left: 4px;
    height: 40px;
    width: 35px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
}

.container {
    margin-left: 120px;
}