.tooltip-custom .tooltip-inner {
    background-color: #123458;
    color: #fff;
    font-size: 0.875rem;
    padding: 8px 12px;
    border-radius: 0.5rem;
}

.tooltip-custom.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #123458;
}
.tooltip-custom.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #123458;
}
.tooltip-custom.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #123458;
}
.tooltip-custom.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #123458;
}