<th:block th:fragment="headerFragment">
    <!-- 헤더 -->
    <nav class="navbar fixed-top navbar-expand-lg border-bottom">
        <div class="container-fluid px-5">
            <a class="navbar-brand d-flex align-items-center" href="/intro">
                <!-- <img src="logo.svg" class="logo-img me-2"> -->
                <span>
                    <span class="logo"><i class="bi bi-box"></i>자재<span class="logo-on">ON</span></span>
                </span>
            </a>
            <div class="d-flex">
                <a class="nav-link" href="/login">로그인</a>
                <a class="nav-link" href="#">고객지원</a>
            </div>
        </div>
    </nav>
</th:block>
