body {
    background-color: #FBFBFB;
}

.sidebar {
    min-height: 100vh;
}

.sidebar .nav-link.active {
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.container {
    padding-top: 4rem;
}

.my-nav-link {
    margin-left: 0 !important;
    font-size: 1.1rem !important;
}

.profile-icon {
    width: 60px !important;
    height: 60px !important;
    font-size: 26px !important;
}

.border-rounded {
    border-radius: 1rem !important;
}
