/* 페이지네이션 css start */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.pagination-box {
    background-color: #f9fafb;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-container {
    border-radius: 20px;
    padding: 1.25rem 2rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background-color: #F1F6F9;
    padding: 0.5rem 1rem;
    border-radius: 16px;
}

.page-btn,
.nav-btn {
    appearance: none;
    border: none;
    background: none;
    padding: 0.45rem 0.85rem;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #212A3E;
    transition: background-color 0.2s;
}

.page-btn:hover,
.nav-btn:hover {
    background-color: #9BA4B5;
}

.page-btn.active {
    border: 1px solid #9BA4B5;
    background-color: #ffffff;
    font-weight: 600;
}

.nav-btn {
    background-color: #394867;
    color: #ffffff;
    padding: 0.6rem 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.goto-page {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
}

.goto-page select {
    padding: 0.4rem 0.9rem;
    border-radius: 999px;
    border: 1px solid #b2b8a3;
    background-color: #f9faf7;
    font-size: 14px;
}

.goto-page button {
    background-color: #394867;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.goto-page button:hover {
    background-color: #9BA4B5;
}

.dots {
    padding: 0.4rem 0.75rem;
    color: #999;
}

/* 페이지네이션 css end */