.notification-item {
    font-size: 14px;
    border-left: 4px solid transparent;
    padding-left: 10px;
}

.unread {
    background-color: #f0f8ff;
    font-weight: bold;
}

.priority-high {
    border-color: #dc3545;
}

.priority-medium {
    border-color: #ffc107;
}

.priority-low {
    border-color: #17a2b8;
}

.notification-icon {
    margin-right: 8px;
}

.card-gr-cal {
    height: 457px;
}

.fc .fc-col-header-cell-cushion {
    text-decoration: none;
    color: #213555;
}

.fc .fc-daygrid-day-number {
    text-decoration: none;
    color: #27496D;
}

.calendar-header {
    background-color: #394867;
}

.graph-header {
    background-color: #4A4947;
}

.danger-notice {
    border: 2px solid #D71313;
}

/* 오늘 날짜 배경색 변경 */
.fc-day-today {
    background-color: #DAE1E7 !important;
    /* 원하는 색으로 변경 */
}

.fc-direction-ltr .fc-list-day-text,
.fc-direction-rtl .fc-list-day-side-text {
    text-decoration: none;
    color: #213555;
}

.fc-direction-ltr .fc-list-day-side-text,
.fc-direction-rtl .fc-list-day-text {
    text-decoration: none;
    color: #213555;
}

.fc .fc-timegrid-axis-frame {
    align-items: center;
    justify-content: center;
}


.fc .fc-toolbar-title {
    font-weight: bold;
}


/* 오늘의 일정, 등 */
.card {
    border-radius: 1rem;
}

.quick-button {
    min-width: 100px;
    height: 45px;
    font-weight: 500;
}


.spacer {
    height: 20px;
}

/* .calendar-container-inner {
        height: 400px;
      } */

.calendar-container {
    height: 476px;
}

.fc-direction-ltr {
    height: 470px !important;
}

.today-schedule {
    height: 258px;
}

.kpi-card {
    background-color: #ffffff;
    border-radius: 1rem;
    border: 1px solid #ddd;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.kpi-icon {
    border: 1px solid #9BA4B5;
    font-size: 1.75rem;
    background-color: #F1F6F9;
    color: #394867;
    padding: 0.6rem;
    border-radius: 50%;
}

.kpi-title {
    font-size: 0.95rem;
    color: #6c757d;
}

.kpi-value {
    font-size: 1.3rem;
    font-weight: bold;
}
