<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">
    <title>자재 관리의 시작, 자재ON</title>
    <link rel="stylesheet" th:href="@{/css/layout/basic/home.css}">
    <link rel="stylesheet" th:href="@{/css/component/profile-img.css}">
</head>
<body>

<!-- *** 내부 회원용 home *** -->

<!-- 헤더 -->
<nav class="navbar fixed-top navbar-expand-lg border-bottom">
    <div class="container-fluid px-5">
        <a class="navbar-brand d-flex align-items-center" href="/internal/home">
            <span>
          <span class="logo"><i class="bi bi-box"></i>자재<span class="logo-on">ON</span></span>
        </span>
        </a>

        <div class="d-flex ms-auto me-3">
        </div>

        <!-- 알림 없앤다면 me-2 지우기 -->
        <div class="dropdown">
            <button class="btn no-bootstrap-style d-flex align-items-center" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span class="profile-icon rounded-circle p-2"
                      th:classappend="${currentUserRole.profileClass}">
                    <i class="bi" th:classappend="${currentUserRole.iconClass}"></i>
                </span>
                <span class="ms-2">
                    <span th:text="${currentUserName}"></span>&nbsp;님
                </span>
                <span class="my-tog ms-2">▼</span>
            </button>
            <ul class="dropdown-menu border">
                <li>
                    <a class="dropdown-item" href="/internal/my/account-edit"
                       onclick="sessionStorage.setItem('prevUrl', window.location.href)">
                        <i class="bi bi-person me-2"></i>마이페이지
                    </a>
                </li>
                <!-- import 필요 -->
                <th:block>

<!--                    &lt;!&ndash; ADMIN이 아니면 탈퇴 링크 &ndash;&gt;-->
<!--                    <li th:if="${currentUserRole != null && currentUserRole.name() != 'ADMIN'}">-->
<!--                        <a class="dropdown-item" href="/internal/my/account-delete">회원 탈퇴</a>-->
<!--                    </li>-->

                    <!-- ADMIN이면 관리자 페이지 링크 -->
                    <li th:if="${currentUserRole != null && currentUserRole.name() == 'ADMIN'}">
                        <a class="dropdown-item" href="/admin/my/user-list">
                            <i class="bi bi-gear-fill me-2"></i>관리페이지
                        </a>
                    </li>

                </th:block>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" class="dropdown-item bg-transparent border-0">
                            <i class="bi bi-box-arrow-right me-2"></i>로그아웃
                        </button>
                    </form>
                </li>
            </ul>
        </div>

    </div>
</nav>


<div class="sidebar" id="sidebar">
    <div class="d-flex sidebar-header align-items-center">
        <h5 class="me-auto">
            <span class="manu-span ms-2">MENU</span> <i class="bi bi-clipboard"></i>
        </h5>

        <button class="toggle-btn sidebar-toggler ">
            <i id="toggle-icon" class="bi bi-chevron-left"></i>
        </button>
    </div>


    <ul class="nav flex-column main-menu">

        <li th:if="${currentUserRole != null && currentUserRole.name() == 'PRODUCTION' || currentUserRole.name() == 'ADMIN'}">
            <a class="nav-link" data-bs-toggle="collapse" href="#productionSubmenu" role="button" aria-expanded="false">
                <div class="icon-text">
                    <i class="bi bi-gear-fill"></i>
                    <span class="menu-text ms-2">생산</span>
                </div>
                <i class="bi bi-chevron-down toggle-arrow ms-auto"></i>
            </a>

            <div class="collapse" id="productionSubmenu">
                <ul class="nav flex-column ms-4 submenu">
                    <li><a class="nav-link" href="/internal/product/pbom">품목등록</a></li>
                    <li><a class="nav-link" href="/internal/product/prdplan">생산계획</a></li>
                </ul>
            </div>
        </li>

        <th:block th:if="${currentUserRole != null && currentUserRole.name() != 'PRODUCTION'}">
            <li>
                <a class="nav-link" data-bs-toggle="collapse" href="#purchaseSubmenu" role="button" aria-expanded="false">
                    <div class="icon-text">
                        <i class="bi bi-cart-check"></i>
                        <span class="menu-text ms-2">구매 및 발주</span>
                    </div>
                    <i class="bi bi-chevron-down toggle-arrow ms-auto"></i>
                </a>

                <div class="collapse" id="purchaseSubmenu">
                    <ul class="nav flex-column ms-4 submenu">
                        <li><a class="nav-link" href="/internal/procurement/procure">조달계획</a></li>
                        <li><a class="nav-link" href="/internal/procurement/contract">계약 정보</a></li>
                        <li><a class="nav-link" href="/internal/procurement/order">자재 발주</a></li>
                        <li><a class="nav-link" href="/internal/procurement/inspect">진척 검수</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a class="nav-link" data-bs-toggle="collapse" href="#deliverySubmenu" role="button" aria-expanded="false">
                    <div class="icon-text">
                        <i class="bi bi-truck"></i>
                        <span class="menu-text ms-2">납입지시</span>
                    </div>
                    <i class="bi bi-chevron-down toggle-arrow ms-auto"></i>
                </a>
                <div class="collapse" id="deliverySubmenu">
                    <ul class="nav flex-column ms-4 submenu">
                        <li><a class="nav-link" href="/internal/delivery/request">납입지시 요청</a></li>
                        <li><a class="nav-link" href="/internal/delivery/status">납입지시 조회</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a class="nav-link" data-bs-toggle="collapse" href="#inSubmenu" role="button" aria-expanded="false">
                    <div class="icon-text">
                        <i class="bi bi-box-arrow-in-down"></i>
                        <span class="menu-text ms-2">입고</span>
                    </div>
                    <i class="bi bi-chevron-down toggle-arrow ms-auto"></i>
                </a>
                <div class="collapse" id="inSubmenu">
                    <ul class="nav flex-column ms-4 submenu">
                        <li><a class="nav-link" href="/internal/incoming/trans">거래 명세 발행</a></li>
                        <li><a class="nav-link" href="/internal/incoming/trans-list">거래 명세 확인</a></li>
                        <li><a class="nav-link" href="/internal/incoming/planned">입고 예정</a></li>
                        <li><a class="nav-link" href="/internal/incoming/inspection">입고 검수</a></li>
                        <li><a class="nav-link" href="/internal/incoming/history">입고 이력</a></li>
                        <li><a class="nav-link" href="/internal/incoming/status">입고 현황 조회</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="nav-link" data-bs-toggle="collapse" href="#outSubmenu" role="button" aria-expanded="false">
                    <div class="icon-text">
                        <i class="bi bi-box-arrow-up"></i>
                        <span class="menu-text ms-2">출고</span>
                    </div>
                    <i class="bi bi-chevron-down toggle-arrow ms-auto"></i>
                </a>
                <div class="collapse" id="outSubmenu">
                    <ul class="nav flex-column ms-4 submenu">
                        <li><a class="nav-link" href="/internal/outgoing/status">출고 조회</a></li>
                        <li><a class="nav-link" href="/internal/outgoing/history">출고 이력</a></li>
                        <li><a class="nav-link" href="/internal/outgoing/result">출고 처리 결과 조회</a></li>
                    </ul>
                </div>
            </li>
        </th:block>

        <li>
            <a class="nav-link" data-bs-toggle="collapse" href="#stockSubmenu" role="button" aria-expanded="false">
                <div class="icon-text">
                    <i class="bi bi-archive"></i>
                    <span class="menu-text ms-2">재고</span>
                </div>
                <i class="bi bi-chevron-down toggle-arrow ms-auto"></i>
            </a>
            <div class="collapse" id="stockSubmenu">
                <ul class="nav flex-column ms-4 submenu">
                    <li><a class="nav-link" href="/internal/inventory/status">재고 조회</a></li>
                    <li><a class="nav-link" href="/internal/inventory/history">재고 이력</a></li>
                    <li><a class="nav-link" href="/internal/inventory/price">재고 금액</a></li>
                    <li><a class="nav-link" href="/internal/inventory/companyStorage">창고 등록</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<!-- 내부 회원(구매부서, 생산부서, 관리자) 메인 start -->
<div class="content">
    <!-- 여기에 추가 -->
    <div layout:fragment="internal-home"></div>

    <!-- 생산 -->
    <div layout:fragment="product-pbom"></div>
    <div layout:fragment="product-prdplan"></div>

    <!-- 구매 및 발주 -->
    <div layout:fragment="procurement-procure"></div>
    <div layout:fragment="procurement-contract"></div>
    <div layout:fragment="procurement-order"></div>
    <div layout:fragment="procurement-inspect"></div>

    <!-- 입고 -->
    <div layout:fragment="incoming-trans"></div>
    <div layout:fragment="incoming-trans-list"></div>

    <div layout:fragment="incoming-planned"></div>
    <div layout:fragment="incoming-inspection"></div>
    <div layout:fragment="incoming-status"></div>
    <div layout:fragment="incoming-history"></div>

    <!-- 출고 -->
    <div layout:fragment="outgoing-status"></div>
    <div layout:fragment="outgoing-history"></div>
    <div layout:fragment="outgoing-result"></div>


    <!-- 재고 -->
    <div layout:fragment="inventory-history"></div>
    <div layout:fragment="inventory-price"></div>
    <div layout:fragment="inventory-status"></div>
    <div layout:fragment="inventory-companyStorage"></div>

    <!-- 납입지시 -->
    <div layout:fragment="delivery-instruction"></div>
    <div layout:fragment="delivery-request"></div>
    <div layout:fragment="delivery-status"></div>



</div>
<!-- 메인 end -->

<script th:src="@{/js/layout/basic/home.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.9/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.9/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@5.9.0/"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script layout:fragment="script" th:inline="javascript">
</script>
</body>
</html>