<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic/in-home.html}">
<head>
    <meta charset="UTF-8">
    <title>자재ON - 구매 및 발주 > 조달 계획</title>
    <link rel="stylesheet" th:href="@{/css/component/file-box.css}">
    <link rel="stylesheet" th:href="@{/css/page/operation/pbom.css}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body>

<th:block layout:fragment="procurement-procure">
    <div class="tutorial" id="tutorial-box">튜토리얼 메시지</div>
    <div class="container py-5 pb-0 position-relative">
        <h2 class="mb-4" id="upload-test">조달계획 관리</h2>
        <div class="row g-4 mb-3">
            <form id="manage-mod" class="mb-3">
                <div class="form-check form-check-inline position-relative ps-0 me-1" id="manage-view">
                    <input class="form-check-input opacity-0 position-absolute pe-none" type="radio" name="i-filter" id="mod-view" checked>
                    <label class="form-check-label btn btn-primary pe-none" for="mod-view" id="view-label">목록</label>
                </div>
                <div class="form-check form-check-inline position-relative ps-0 me-1" id="manage-edit">
                    <input class="form-check-input opacity-0 position-absolute pe-none" type="radio" name="i-filter" id="mod-edit">
                    <label class="form-check-label btn btn-outline-secondary" for="mod-edit" id="edit-label">수정</label>
                </div>
                <div class="form-check form-check-inline position-relative ps-0 me-1" id="manage-insert">
                    <input class="form-check-input opacity-0 position-absolute pe-none" type="radio" name="i-filter" id="mod-insert">
                    <label class="form-check-label btn btn-outline-secondary" for="mod-insert" id="insert-label">등록</label>
                </div>
            </form>
        </div>
        <div id="input-manage-btn" class="left-panel">
            <input type="file" id="insert-file" class="transparent-file">
            <label for="insert-file" class="btn btn-outline-secondary" id="insert-file-label">F</label>
            <button type="button" class="btn btn-outline-secondary" id="insert-upload">U</button>
        </div>
        <div id="edit-manage-btn" class="left-panel">
            <button type="button" class="btn btn-outline-secondary" id="edit-refresh">R</button>
            <button type="button" class="btn btn-outline-secondary" id="edit-upload">U</button>
        </div>
        <div id="view-manage-btn" class="left-panel">
            <button type="button" class="btn btn-outline-secondary" id="view-refresh">&circlearrowright;</button>
            <button type="button" class="btn btn-outline-secondary" id="view-download">D</button>
        </div>
        <div class="card p-4" id="table-card">
            <div id="tables-input">
                <table class="table table-bordered table-hover data-table text-center table-excel" id="pplan-table">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${pplanTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="" th:each="i: ${#numbers.sequence(0, pplanTH.length - 1)}">
                            <span contenteditable="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="tables-view">
                <table class="table table-bordered table-hover data-table text-center table-excel" id="pplan-table-view">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${pplanTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="" th:each="i: ${#numbers.sequence(0, pplanTH.length - 1)}">
                            <span contenteditable="false"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="tables-edit">
                <table class="table table-bordered table-hover data-table text-center table-excel" id="pplan-table-edit">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" th:each="head: ${pplanTH}">[[${head.getLabel()}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="" th:each="i: ${#numbers.sequence(0, pplanTH.length - 1)}">
                            <span contenteditable="false"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:src="@{/js/util/file-preview.js}"></script>
    <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
    <script th:src="@{/js/page/operation/procureMain.js}" type="module"></script>
</th:block>

</body>
</html>