body {
     /*background-color: #FBFBFB;*/
    padding-top: 72px;
}

.login-wrapper {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.login-card {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 550px;
    background: white;
    border-radius: 1rem;
    border: 1px solid #BCCCDC;
    overflow: hidden;
}

.login-card .form-control {
    border-color: #dadada;
}

.login-left {
    background-color: #F1F6F9;
    flex: 1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-left h2 {
    color: #1A73E8;
    margin-bottom: 1rem;
    font-weight: bold;
}

.login-left p {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}

.login-left .illustration {
    /* margin-top: 2rem; */
    width: 200px;
}

.login-right {
    flex: 1;
    padding: 3rem;
}

.btn-primary {
    background-color: #1A73E8;
    border-color: #1A73E8;
}

.btn-primary:hover {
    background-color: #0f5ec6;
    border-color: #0f5ec6;
}

.link-plain {
    color: #212529;
    text-decoration: none;
    margin: 0 5px;
    font-size: 1rem;
}

.link-plain:hover {
    color: #212529;
    text-decoration: underline;
}

.vertical-bar {
    color: #b4c0d3;
}

.toast-msg {
    margin-top: 100px;
}

.logo-img {
    width: 170px;
    height: auto;
    /* object-fit: contain; */
}

.logo-middle {
    width: 250px;
}

.join-btn {
    /* background-color: transparent;
    border: 1px solid #213555;
    color: #213555; */
    padding: 10px 15px 12px;
    width: 100%;
    /*font-size: 1.1rem;*/
}

.btn-outline-primary {
    --bs-btn-color: #213555;
    --bs-btn-border-color: #213555;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #213555;
    --bs-btn-hover-border-color: #213555;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #213555;
    --bs-btn-active-border-color: #213555;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #213555;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #213555;
    --bs-gradient: none;
}

/* .join-btn:hover {
    border: 1px solid #948979;
    color: #948979;
} */

.text-main-color {
    color: #213555;
}

.login-btn {
    background-color: #213555;
    color: #fff;
}

.login-btn:hover {
    background-color: #9BA4B5;
    color: #fff;
}

#loginForm {
    width: 90%;
}

.large-logo {
    font-size: 3.8rem;
}
