<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic/in-home.html}">
<head>
    <meta charset="UTF-8">
    <title>자재ON - 입고 > 입고 검수</title>
    <link rel="stylesheet" th:href="@{/css/component/bottom-nav.css}">
</head>
<body>

<th:block layout:fragment="incoming-inspection">
    <div class="container py-5">
        <h1 class="mb-4">입고 검수</h1>

        <div class="card p-4 mb-4">
            <form action="/internal/incoming/inspection" method="get">
                <div class="row g-3">
                    <!-- 입고예정일 -->
                    <div class="col-md-4 col-lg-4">
                        <label class="form-label">입고예정일</label>
                        <div class="d-flex gap-1">
                            <input type="date" class="form-control" name="deliveryPartnerItemDateStart"
                                   th:value="${pageRequestDTO.deliveryPartnerItemDateStart != null ?
                                   #temporals.format(pageRequestDTO.deliveryPartnerItemDateStart, 'yyyy-MM-dd') : ''}">
                            <span class="pt-2">~</span>
                            <input type="date" class="form-control" name="deliveryPartnerItemDateEnd"
                                   th:value="${pageRequestDTO.deliveryPartnerItemDateEnd != null ?
                                   #temporals.format(pageRequestDTO.deliveryPartnerItemDateEnd, 'yyyy-MM-dd') : ''}">
                        </div>
                    </div>

                    <!-- 입고코드 -->
                    <div class="col-md-2">
                        <label class="form-label" for="incomingCode">입고코드</label>
                        <input type="text" class="form-control" id="incomingCode" name="incomingCode"
                               th:value="${pageRequestDTO.incomingCode}">
                    </div>

                    <!-- 협력사 -->
                    <div class="col-md-2">
                        <label class="form-label" for="pCompany">협력사</label>
                        <input type="text" class="form-control" id="pCompany" name="pCompany"
                               th:value="${pageRequestDTO.pCompany}">
                    </div>

                    <!-- 자재코드 -->
                    <div class="col-md-2">
                        <label class="form-label" for="matId">자재코드</label>
                        <input type="text" class="form-control" id="matId" name="matId"
                               th:value="${pageRequestDTO.matId}">
                    </div>

                    <!-- 자재명 -->
                    <div class="col-md-2">
                        <label class="form-label" for="matName">자재명</label>
                        <input type="text" class="form-control" id="matName" name="matName"
                               th:value="${pageRequestDTO.matName}">
                    </div>

                    <!-- 입고일 -->
                    <div class="col-md-4 col-lg-4">
                        <label class="form-label">입고일</label>
                        <div class="d-flex gap-1">
                            <input type="date" class="form-control" name="incomingFirstDateStart"
                                   th:value="${pageRequestDTO.incomingFirstDateStart != null ?
                                   #temporals.format(pageRequestDTO.incomingFirstDateStart, 'yyyy-MM-dd') : ''}">
                            <span class="pt-2">~</span>
                            <input type="date" class="form-control" name="incomingFirstDateEnd"
                                   th:value="${pageRequestDTO.incomingFirstDateEnd != null ?
                                   #temporals.format(pageRequestDTO.incomingFirstDateEnd, 'yyyy-MM-dd') : ''}">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label class="form-label" for="incomingStatus">진행상태</label>
                        <select class="form-select" id="incomingStatus" name="incomingStatus">
                            <option value="" th:selected="${pageRequestDTO.incomingStatus == null}">전체</option>
                            <option value="미입고" th:selected="${pageRequestDTO.incomingStatus == '미입고'}">미입고</option>
                            <option value="부분입고" th:selected="${pageRequestDTO.incomingStatus == '부분입고'}">부분입고</option>
                            <option value="입고마감대기중" th:selected="${pageRequestDTO.incomingStatus == '입고마감대기중'}">입고마감대기중</option>
                            <option value="입고마감" th:selected="${pageRequestDTO.incomingStatus == '입고마감'}">입고마감</option>
                        </select>
                    </div>

                    <!-- 버튼 -->
                    <div class="col-12 d-flex justify-content-end gap-2 mt-4">
                        <button type="submit" class="btn btn-primary" ><i class="bi bi-search"></i> 검색</button>
                        <button type="button" class="btn btn-outline-secondary clearBtn" ><i class="bi bi-arrow-clockwise"></i> 초기화</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="card p-4">
            <table class="table table-bordered table-hover data-table text-center">
                <thead class="table-light">
                <tr>
                    <th><input type="checkbox" id="selectAll" onclick="toggleAll(this)"></th>
                    <th>입고예정일</th>
                    <th>입고코드</th>
                    <th>협력사</th>
                    <th>자재코드</th>
                    <th>자재명</th>
                    <th>납입지시수량</th>
                    <th>입고예정수량</th>
                    <th>입고수량</th>
                    <th>반품수량</th>
                    <th>잔여 입고 수량</th>
                    <th>입고일</th>
                    <th>입고마감일</th>
                    <th>창고</th>
                    <th>진행상태</th>
                </tr>
                </thead>
                <tbody id="inspection-body">
                <tr th:each="incomingItem:${incomingItemList}" th:data-id="${incomingItem.incomingItemId}">
                    <td><input type="checkbox" class="row-check"></td>
                    <td th:text="${incomingItem.deliveryPartnerItemDate}"></td>
                    <td th:text="${incomingItem.incomingCode}"></td>
                    <td th:text="${incomingItem.pCompany}"></td>
                    <td th:text="${incomingItem.matId}"></td>
                    <td th:text="${incomingItem.matName}"></td>
                    <td th:text="${incomingItem.drItemQty}"></td>
                    <td th:text="${incomingItem.deliveryPartnerItemQty}"></td>
                    <td th:text="${incomingItem.incomingTotalQty}"></td>
                    <td th:text="${incomingItem.incomingReturnTotalQty}"></td>
                    <td th:text="${incomingItem.drItemQty - incomingItem.incomingTotalQty
                                                    + incomingItem.incomingReturnTotalQty}"></td>
                    <td th:text="${incomingItem.incomingFirstDate}"></td>
                    <td th:text="${incomingItem.incomingCompletedAt}"></td>
                    <td></td>
                    <td class="text-center"><span class="badge bg-secondary" th:text="${incomingItem.incomingStatus}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 하단 고정 액션 버튼 바 -->
        <nav class="bottom-navbar">
            <a class="nav-item nav-link active" href="#" onclick="partialReceive()">
                <i class="bi bi-box-arrow-in-down"></i>
                <span>부분입고</span>
            </a>
            <a class="nav-item nav-link" href="#" onclick="returnItems()">
                <i class="bi bi-arrow-counterclockwise"></i>
                <span>반품처리</span>
            </a>
            <a class="nav-item nav-link" href="#" onclick="fullReceive()">
                <i class="bi bi-check-circle"></i>
                <span>입고</span>
            </a>
            <a class="nav-item nav-link" href="#" onclick="finalizeReceive()">
                <i class="bi bi-archive"></i>
                <span>입고마감</span>
            </a>
        </nav>


    </div>

</th:block>
<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        self.location = '/internal/incoming/inspection'
    }, false)
</script>
</body>
</html>