<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic/in-home.html}">
<head>
    <meta charset="UTF-8">
    <title>자재ON - 입고 > 입고 예정</title>
</head>
<body>

<th:block layout:fragment="incoming-planned">
    <!-- 브레드크럼 start -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-3 py-2 rounded">
            <li class="breadcrumb-item">
                <a href="/internal/home" class="text-decoration-none text-dark">
                    <i class="bi bi-house-door me-1"></i> 홈
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#" class="text-decoration-none text-dark">
                    <i class="bi bi-box-arrow-in-down me-1"></i> 입고
                </a>
            </li>
            <li class="breadcrumb-item active text-primary" aria-current="page">
                입고 예정
            </li>
        </ol>
    </nav>
    <!-- 브레드크럼 end -->

    <div class="container py-5">

        <form action="/internal/incoming/planned" method="get">
            <div class="card p-4 mb-4">
                <div class="row g-3 align-items-end">
                    <div class="col-lg-4 col-md-6">
                        <label class="form-label">입고예정일</label>
                        <div class="d-flex gap-1">
                            <input type="date" class="form-control" id="deliveryPartnerItemDateStart" name="deliveryPartnerItemDateStart"
                                   th:value="${pageRequestDTO.deliveryPartnerItemDateStart != null ?
                                   #temporals.format(pageRequestDTO.deliveryPartnerItemDateStart, 'yyyy-MM-dd') : ''}">
                            <span class="pt-2">~</span>
                            <input type="date" class="form-control" name="deliveryPartnerItemDateEnd"
                                   th:value="${pageRequestDTO.deliveryPartnerItemDateEnd != null ?
                                   #temporals.format(pageRequestDTO.deliveryPartnerItemDateEnd, 'yyyy-MM-dd') : ''}">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <label for="incomingCode" class="form-label">입고코드</label>
                        <input type="text" class="form-control" id="incomingCode" name="incomingCode"
                               th:value="${pageRequestDTO.incomingCode}">
                    </div>

                    <div class="col-md-2">
                        <label for="pCompany" class="form-label">협력사</label>
                        <input type="text" class="form-control" id="pCompany" name="pCompany"
                               th:value="${pageRequestDTO.pCompany}">
                    </div>
                    <div class="col-md-2">
                        <label for="matId" class="form-label">자재코드</label>
                        <input type="text" class="form-control" id="matId" name="matId"
                               th:value="${pageRequestDTO.matId}">
                    </div>
                    <div class="col-md-2">
                        <label for="matName" class="form-label">자재명</label>
                        <input type="text" class="form-control" id="matName" name="matName"
                               th:value="${pageRequestDTO.matName}">
                    </div>
                    <div class="col-12 d-flex justify-content-end gap-2 mt-4">
                        <button type="submit" class="btn btn-primary" ><i class="bi bi-search"></i> 검색</button>
                        <button type="button" class="btn btn-outline-secondary clearBtn" ><i class="bi bi-arrow-clockwise"></i> 초기화</button>
                    </div>
                </div>
            </div>
        </form>


        <div class="card p-4">
            <div class="d-flex justify-content-end mb-3">
                <div class="d-flex gap-2 align-items-center">
                    <i class="bi bi-funnel text-secondary" title="보기 개수"></i>
                    <select class="form-select form-select w-auto" name="size" id="postCountSelect">
                        <option value="10" th:selected="${selectedSize == 10}">10개씩 보기</option>
                        <option value="20" th:selected="${selectedSize == 20}">20개씩 보기</option>
                        <option value="30" th:selected="${selectedSize == 30}">30개씩 보기</option>
                    </select>
                </div>
            </div>
            <table class="table table-bordered table-hover text-center" id="arrival-table">
                <thead class="table-light">
                <tr>
                    <th>입고예정일</th>
                    <th>입고코드</th>
                    <th>협력사</th>
                    <th>자재코드</th>
                    <th>자재명</th>
                    <th>입고예정수량</th>
                    <th>창고</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="incoming:${incomingList}" th:data-id="${incoming.incomingId}">
                    <td th:text="${incoming.deliveryPartnerItemDate}"></td>
                    <td th:text="${incoming.incomingCode}"></td>
                    <td th:text="${incoming.pCompany}"></td>
                    <td th:text="${incoming.matId}"></td>
                    <td th:text="${incoming.matName}"></td>
                    <td th:text="${incoming.deliveryPartnerItemQty}"></td>
                    <td th:text="${incoming.cstorageId}"></td>
                </tr>
                </tbody>
            </table>
            <!-- 페이지네이션 -->
            <th:block th:replace="fragment/pagination :: paginationFragment"></th:block>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        self.location = '/internal/incoming/planned'
    }, false)

    // 보기 개수 js
    function applyTransactionFilters() {
        const size = document.getElementById("postCountSelect").value;

        location.href = `/internal/incoming/planned?page=0&size=${size}`;
    }

    // 보기 개수 js  이벤트 바인딩
    document.getElementById("postCountSelect").addEventListener("change", applyTransactionFilters);
</script>
</body>
</html>